server {
		root ./www/site2/;
		listen	       					5001;
		server_name				localhost;
		client_max_body_size	32m;

		location /{
			root ./www/site2/;
			allowed_method GET DELETE POST;
			autoindex on;
			index index.html;
			cgi .php /usr/bin/php-cgi;
			cgi .sh ./cgi/bash_cgi.sh;
			upload ./www/site1/upload;
		}
		location /redirect.html {
			return 301 https://estcequecestbientotlapero.fr/;
		}
		location /404custom.html {
			error_page 404 404.html;
		}
}



server {
		root ./www/site1/;
		listen	       					localhost:5001;
		server_name				localhost;
		client_max_body_size	32m;

		location /{
			root ./www/site1/;
			allowed_method GET DELETE POST;
			autoindex on;
			index index.html;
			cgi .php /usr/bin/php-cgi;
			cgi .sh ./cgi/bash_cgi.sh;
			upload ./www/site1/upload;
		}
		location /redirect.html {
			return 301 https://estcequecestbientotlapero.fr/;
		}
		location /404custom.html {
			error_page 404 404.html;
		}
}


