
server {
	
	listen	       					69000
	                      root               	/mnt/nfs/homes/fle-blay/Documents/webserv
}

server {
	
	listen	       					100
	                      root               	/mnt/nfs/homes/fle-blay/Documents/webserv
}

server {
	
	listen	       					5001
	                      root               	/mnt/nfs/homes/fle-blay/Documents/webserv
	listen	       					5002
}




server {
	
	                      root               	/mnt/nfs/homes/fle-blay/Documents/webserv
	listen	       					4997
}
