body
{
	background-color: goldenrod;
	margin: 10;
	padding: 10;
	color: black;
	border: 10-px solid goldenrod;
}

.header
{
	background-color: goldenrod ;
	color: black;
	text-align: center;
}

h1
{
	font-size: 50px;
	text-align: center;
}