body
{
	background-color: gray;
	margin: 10;
	padding: 10;
	color: white;
	border: 10-px solid grey;
}

.header
{
	background-color: gray ;
	color:wheat;
	text-align: center;
}

h1
{
	font-size: 50px;
	text-align: center;
}